<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TaxiDemo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=geometry,places&v=weekly"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="styles.3559f7741525c322968a.css"></head>
<body>
  <app-root></app-root>
  <div id="test"></div>
<script src="runtime.acf0dec4155e77772545.js" defer></script><script src="polyfills.f5dc9f40461a32961db2.js" defer></script><script src="main.5fd8d5b345113e5f23a4.js" defer></script></body>
</html>
